<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"> Job Seeker</span>
      
      <div class="text-center mt-4">
        <button
          type="text"
          class="btn btn-warning btn-lg me-md-2"
          routerLink="/maipage">
          MainPage
        </button>

        <button
        type="text"
        class="btn btn-warning btn-lg me-md-2"
        routerLink="/listjobs">
        Add a Job
      </button>
      </div>
      
    </div>

  </nav>
